/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type= "radio"] {
-webkit-appearance: none;
  cursor:pointer ;
  width: 27px ;
  height: 27px ;
  outline:none;
  background-image: url(stars.png);
  }

  input[type= "radio"]:checked {
  -webkit-appearance: none;
    cursor:pointer ;
    width: 27px ;
    height: 27px ;
    outline:none;
    background-image: url(stars.png);
    background-position: bottom;
    }
  /*input[type="radio"] {
        -webkit-appearance: none;
        width: 27px;
        height: 27px;
        cursor: pointer;
        background-image: url(../assets/stars.png);
        vertical-align: bottom;
        outline: none;
    }*/

input:last-child {
  background-color: rgba(255,215,0,1) ;
}
input:last-child:hover {
  background-color: rgba(255,215,0,0.5) ;
}

li:nth-child(2n) {
  background-color: rgb(188, 192, 198);
}

 h2 + div {
  border-top: 1px solid black;
}
